@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}
body{
  background:#69141F
}

@layer {
  .c-space {
    @apply lg:px-10 px-5;
  }

  /* Hero section */
  .hero-bg {
    @apply absolute top-0 left-0 w-full h-full object-cover;
    transform-origin: center;
  }
  .hero-container{
    @apply flex flex-col justify-center 
  }
  .hero-btn{
 @apply text-[#69141F] bg-white px-2 py-1 rounded-4xl text-sm z-29 opacity-80 hover:opacity-100 duration-300 
  }
  .hero-title-1{

    @apply text-[#69141F] mt-40 md:text-8xl sm:text-6xl text-4xl font-normal absolute
  }
  .hero-title{
    @apply text-[#FFFCEE] text-center mt-40 md:text-7xl sm:text-6xl text-4xl font-normal
  }
  .title-span{
    @apply text-[#69141F] text-center mt-40 md:text-7xl sm:text-6xl text-4xl font-normal
  }
  .hero-desc{
    @apply text-[#FFFCEE] w-[45vw] md:text-2xl sm:text-lg text-sm font-thin break-words;
  }
  .hero-social{
    @apply flex justify-between  px-4
  }
  .social-icon{
    @apply w-7 h-7 opacity-80 hover:opacity-100 z-30 duration-300
  }
  .portfolio{
    @apply  text-[#69141F] xl:mt-[-30px] lg:mt-[-20px] md:mt-[-10px] mt-0 text-[17vw] font-bold text-center leading-none 
  }

  /* About section */

  .about-desc{
    @apply text-[#FFFCEE]  w-[60vw] text-center md:text-2xl sm:text-lg text-sm font-light
  }

  /* Button Section */

  .button-section{
    @apply flex flex-col justify-center items-center my-10
  }
  .button-text{
    @apply text-[#FFFCEE] md:text-xl text-sm font-light
  }
  .button-circle{
    @apply w-20 h-20 bg-white rounded-full cursor-pointer
  }
  .button-car{
    @apply w-15 h-auto
  }
  .svg-container{
    @apply absolute top-700 left-0 flex justify-center items-center w-full h-[3572px]
  }

  /* Work section */
  /* .work-section{
@apply flex justify-center items-center w-[30vw]
  } */
}




