@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}
body{
  background:main-red
}

@theme {
  --color-main-red: #69141F
}

@layer {
  .c-space {
    @apply lg:px-10 px-5;
  }

  /* Hero section */
  .hero-bg {
    @apply absolute top-0 left-0 w-full h-full object-cover;
    transform-origin: center;
  }
  .hero-container{
    @apply flex flex-col justify-center 
  }
  .hero-copy{
 @apply text-[#FFFCEE] flex gap-2 items-center lg:text-sm  md:text-xs font-normal opacity-80 hover:opacity-100 duration-300 
  }
  .hero-title-1{

    @apply text-main-red mt-40 md:text-8xl sm:text-6xl text-4xl font-normal absolute
  }
  .hero-title{
    @apply text-[#FFFCEE] text-center mt-40 md:text-7xl sm:text-6xl text-4xl font-normal
  }
  .title-span{
    @apply text-main-red text-center mt-40 md:text-7xl sm:text-6xl text-4xl font-normal
  }
  .hero-desc{
    @apply text-[#FFFCEE] w-[45vw] md:text-2xl sm:text-lg text-sm font-thin break-words;
  }
  .hero-social{
    @apply flex justify-between  px-4
  }
  .social-icon{
    @apply w-7 h-7 opacity-80 hover:opacity-100 z-30 duration-300
  }
  .portfolio{
    @apply  text-main-red xl:mt-[-30px] lg:mt-[-20px] md:mt-[-10px] mt-0 text-[17vw] font-bold text-center leading-none 
  }

  /* About section */

  .about-desc{
    @apply text-[#FFFCEE]  w-[60vw] text-center md:text-2xl sm:text-lg text-sm font-light
  }

  /* Button Section */

  .button-section{
    @apply flex flex-col justify-center items-center my-10
  }
  .button-text{
    @apply text-[#FFFCEE] md:text-xl text-sm font-light
  }
  .button-circle{
    @apply w-20 h-20 bg-white rounded-full cursor-pointer
  }
  .button-car{
    @apply w-15 h-auto
  }
  .svg-container{
    @apply absolute top-650 left-0 flex justify-center items-center w-full h-[3572px]
  }

/* Contact section */

.contact-container {
  @apply max-w-xl relative z-10 sm:px-10 px-5 mt-12;
}

.field-label {
  @apply text-lg text-[#FFFCEE];
}

.field-input {
  @apply w-full bg-[rgba(0,0,0,0.4)] px-5 py-2 min-h-14 rounded-lg placeholder:text-[rgba(250,250,250,0.4)] text-lg text-white drop-shadow-[0_4px_6px_rgba(0,0,0,0.4)]  shadow-2xl focus:outline-none;
}

.field-btn {
  @apply bg-[rgba(0,0,0,0.4)] hover:bg-black duration-500 px-5 py-2 min-h-12 rounded-lg drop-shadow-[0_4px_6px_rgba(0,0,0,0.4)] shadow-2xl flex justify-center items-center text-lg text-white gap-3;
}

.field-btn_arrow {
  @apply w-2.5 h-2.5 object-contain invert brightness-0;
}

/* Education section */
.education-img {
  @apply w-[30vw]
}
.education-title {
  @apply text-[#FFFCEE] text-6xl font-bold
}
.education-state{
  @apply text-[#FFFCEE] text-4xl font-normal
}
.education-degree{
  @apply text-[#FFFCEE] text-xl font-light
}
.education-date{
  @apply text-[#FFFCEE] text-sm font-thin
}

}




